.top-part {
	margin-bottom: 5px;
}
#tweet_div{
    margin-right: 0px;
    margin-left: 0px;

}
#tweet_div_content{
	margin-left:0px;
	margin-right:0px;
}
#div2{
	background-color: rgb(79,61,103);
	height:100px;
}
#profile_div_img{
	width:80px;
	height:80px;
	margin-left:20px;
	margin-top:-40px;
}
#profile_div{
	width:100%;
	height:200px;
}
#div1{
	width:200px;
	height:50%;
	display:inline;
}
#trend_div{
	margin-top:20px;
}

#profile_div_font{
	margin-left:120px;
}
#profile_div_name{
	margin-top: 12px;
	margin-left:110px;
}
#profile_div_id{
	margin-top: -10px;
	margin-left:110px;
}
#profile_div_tweets{
	margin-top: 10px;
	margin-left:25px;
}
#profile_div_following{
	margin-top: -48px;
	margin-left:150px;
}
.tweet_a{
	text-decoration: none;
}
.tweet-photo {
	max-width: 100%;
	border-radius: 10px;
}
.reply-icon {
	height: 10px;
}
.fa-comment {
	margin-top: 4px;
}
.photo-upload {
	position: absolute;
	margin-top: 20px;
	right: 0;
	margin-right: 20px;
}
.fa-image {
	min-height: 40px;
}
.tweetcropper {
	width: 100px;
	height: 100px;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
}
.small-tweet-pic {
	display: inline-block;
	margin: 15px 0 0 15px;
	height: 100%;
	width: auto;
}
.cropper {
	width: 50px;
	height: 50px;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
}
.usericon {
	display: inline-block;
	margin: 0 auto;
	/* margin-left: -25%; */
	height: 100%;
	width: auto;
}