body {
	background-color: rgb(229,236,240);
}
.home {
	margin-bottom: 7px;
}
.fa-twitter {
	font-size: 20px;
	color: rgb(0, 164, 237);
}
.searchbar {
	border-radius: 25px;
}
.tweez-btn {
	border-radius: 25px;
	background-color: rgb(79,61,103);
	border-color:rgb(79,61,103);
}
#tweezer-logo {
	height: 30px;
}
.prof-crop {
	width: 190px;
	height: 190px;
	position: absolute;
	overflow: hidden;
	border-radius: 50%;
}
.profile_pic .me {
    text-align: left;
    position: relative;
   	top: 100px;
}
.whitebar {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
.whitebar .container .row {
	font-size: 12px;
}
.links-bar {
	width: 50%;
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	font-size: 15px;
}
.links-bar div button {
	padding-top: 0;
	padding-bottom: 0;
	border-top: 0;
	border-bottom: 0;
}
.followers {
	display: inline-block;
}
.user-profile {
	margin: 0 0 4px 0;
}
.profile-info {
	margin-bottom: 1px;
	padding: 0;
}
.tinypic {
	max-height: 40px;
	border-radius: 5px;
}
.fa-calendar-alt {
	color: grey;
}
.tweet-feed {
	padding: 0px;
}
.tweet-title {
	margin-bottom: 1px;
	background-color: white;
	font-size: 18px;
}
.grey-text {
	color: grey;
}
.tweet-feed {
	margin: 0;
}
.tweet {
	background-color: white;
	margin-bottom: 2px;
}
.small-pic {
	width: 10%;
	height: 10%;
	margin-left: 10px;
}
.tweet-user-info {
	font-size: 14px;
}
.tweet-photo {
	max-width: 100%;
	border-radius: 10px;
}
.reply-button {
	margin-right: 10px;
}
.reply-icon {
	height: 10px;
	/* padding: 0px; */
}
.redheart {
	color: red;
	animation: job_fadein 0.5s;
}
	    @keyframes job_fadein {
	        from { color: black;}
	        to   { color: red;}
	    }
.misc-feed {
	margin: 0 0 0 4px;
	background-color: white;
}
.tweetcropper {
	width: 100px;
	height: 100px;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
}
.small-tweet-pic {
	display: inline-block;
	margin: 0;
	height: 100%;
	width: auto;
}